#
# Docker Environment
# ===============================
#
# this project is meant to be executed via `docker-compose` and `humble-cli`.
# you must create a `.env.local` file and consider this one as a template.
#

# Winston's Log Level
# default: info
LOG_LEVEL=info

# Delay to the first run after the container has started
# default: 6000000 (10m)
VACUUM_DELAY=600000

# Cleanup interval in milliseconds
# default: 6000000 (10m)
VACUUM_INTERVAL=600000

# Cleanup retention rules
VACUUM_RULES="[{"match":"(.*)","retain":2},{"match": "hello-world", "retain":0}]"

# Docker System Prune
VACUUM_SYSTEM_PRUNE=false
VACUUM_SYSTEM_PRUNE_VOLUMES=false
